{% extends 'base.html' %}

{% block body %}

  <!-- Forces the modal (popup) to always be shown - otherwise it is hidden on a blank page -->
  <script>
    window.onload = (event) => {
      var myModal = new bootstrap.Modal(document.getElementById('Data'), {
        keyboard: false
      })
      myModal.show();
    }
  </script>

  <div id="Data" class="modal modal-lg show" data-bs-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Data</h4>
          <button type="button" class="btn-close" aria-label="Close" onclick="window.location.href='{{ request.app.url_path_for('index')|string }}';"></button>
        </div>
        <div class="modal-body">
          <form id="addDataForm" action="{{ request.app.url_path_for('data')|string }}" method="POST">
            <div class="mb-3">
              {% include 'form.html' %}
            </div>
            <div class="pt-3">
              <button class="btn btn-primary" type="submit">Add Data</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ request.app.url_path_for('index')|string }}';">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}