{% extends 'base.html' %}

{% block body %}

<div class="container p-3">
  <div class="row">
    <div class="container">
      <div class="table-responsive p-3 bg-light">
        {% for message in get_flashed_messages(request) %}
        <div class="{{message.category}} alert alert-dismissable">
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
        {{message.message}}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}