{% extends 'base.html' %}

{% block body %}

  <!-- Forces the modal (popup) to always be shown - otherwise it is hidden on a blank page -->
  <script>
    window.onload = (event) => {
      var myModal = new bootstrap.Modal(document.getElementById('Record'), {
        keyboard: false
      })
      myModal.show();
    }
  </script>

  <div id="Record" class="modal modal-lg show" data-bs-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h4 class="modal-title text-light">
            {% if record %}
            Update Record
            {% else %}
            Add Record
            {% endif %}
            </h4>
          <button type="button" class="btn-close" aria-label="Close" onclick=window.location.href="{{ request.app.url_path_for('index')|string }}";></button>
        </div>
        <div class="modal-body text-light">
          {% if record %}
          <form id="addRecordForm" action="{{ request.app.url_path_for('update', ROWID=record.ROWID)|string }}" method="POST">
          {% else %}
          <form id="addRecordForm" action="{{ request.app.url_path_for('create')|string }}" method="POST">
          {% endif %}
            <div class="mb-3">
              {% include 'form.html' %}
            </div>
          </form>
        </div>
        <div class="modal-footer">
          {% if record %}
          <button class="btn btn-warning" type="submit" form="addRecordForm">Update</button>
          {% else %}
          <button class="btn btn-primary" type="submit" form="addRecordForm">Create</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}